

@font-face {
	font-family: vazir-bold;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/vazir-bold/Vazir-Bold.ttf') format('ttf'),
		 url('../fonts/vazir-bold/Vazir-Bold.woff2') format('woff2'),  
		 url('../fonts/vazir-bold/Vazir-Bold.woff') format('woff');  
}

@font-face {
	font-family:vazir-light;
	src: url('../fonts/vazir-light/Vazir-Light.ttf') format('ttf'),
		 url('../fonts/vazir-light/Vazir-Light.woff2') format('woff2'),  
		 url('../fonts/vazir-light/Vazir-Light.woff') format('woff');  
}

@font-face {
	font-family: vazir;
	src: url('../fonts/vazir/Vazir.ttf') format('ttf'),
		 url('../fonts/vazir/Vazir.woff2') format('woff2'),  
		 url('../fonts/vazir/Vazir.woff') format('woff');  
}
