@import url(reset.css);
@import url(fonts.css);
@import url(navbar-style.css);
@import url(header-style.css);
@import url(info-style.css);

:root {
  --text-light: #747579;
  --text-bold: #24292d;
  --text-active: #066ac9;
  --bg-hover: #e9eff9;
  --bg-color: #ffffff;
  --item-bg-color: #ffffff;
  --bg-green-color: #cff2e7;
}
html {
  font-family: vazir;
  /* overflow-x: hidden; */
}
body {
  background-color: var(--bg-color);
}

